@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

.div1 {
    display: inline;
    float: right;
    color: #fff;
}

.CLA {
    position: absolute;
    top: 1174px;
    left: 37px;
}

.div2 {

    color: #fff;
    background-color: blue;
    height: 20px;
    width: 20px;
}

.div4 {
    color: #fff;
    background-color: orange;
    height: 20px;
    width: 20px;
}

.div6 {
    color: #fff;
    background-color: green;
    height: 20px;
    width: 20px;
}

.div8 {
    color: #fff;
    background-color: red;
    height: 20px;
    width: 20px;
}

.QCL {
    color: #fff;
    position: absolute;
    top: 1218px;
    left: 37px;
}

.CSA {
    color: #fff;
    position: absolute;
    top: 1262px;
    left: 37px;
}

.RBX {
    color: #fff;
    position: absolute;
    top: 1305px;
    left: 37px;
}

h4 {
    color: #fff;
}

h2 {
    color: #fff;
    text-align: center;
    padding: 50px;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.azul {
    background-color: blue;
}

.laranja {
    background-color: orange;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.tabela {
    color: #fff;
    border: #fff5;
}